<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container p-5">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">Reset Password</div>

						<div class="card-body">
							<form action="/loadResetPassword" method="post">

								<div class="mb-3">
									<label>Enter New Password</label> <input type="password"
										name="password" class="form-control">
								</div>

								<div class="mb-3">
									<label>Enter Confirm Password</label> <input type="text"
										name="confirmPassword" class="form-control">
								</div>

								<input type="hidden" th:value="${id}" name="id">

								<button class="btn btn-primary col-md-12">Change
									Password</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>